* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #0d0d0d;
  color: white;
}

.header {
  background: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  color: #00eaff;
}

.header nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 40px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #00eaff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
